<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cokebook</title>
    <link href="/static/index.css" rel="stylesheet" />
</head>
<body>
    <div class="header"></div>
    <div class="body" style="padding:20px 50px;">
        <div style="text-align:center">Welcome to Cokebook</div>
        <div>
            <div>
                    <b>1</b> 如何下载指定日期的的 excel 文档 ?</a>
                   <p></p>
                    <span style="display:inline-block;padding:5px 20px;font-size:0.8em; "><a  style="text-decoration:none;" target="_blank" href="./industry/list/2017-01-01">
                        > 点击该链接,并修改后面的日期即可, 如果对应日期存在数据则将自动下载相应的记录.
                    </a></span>
            </div>
        </div>
    </div>

</body>
</html>